<div class="signup1">New Activity (<%= @ch%>)<a href="#" onclick="mark_new_activity();">Mark new messages as read</a><span style="color:green; font:12px; margin-left:250px;">
<%= flash[:message_inbox]%>  </span></div>