<div class="signup1">New Activity (<%= @ch%>)<a href="#" onclick="mark_new_activity();">Move All To Storage</a><span style="color:green; font:12px; margin-left:250px;">
<%= flash.now[:draft]%>  </span></div>