<div class="owners_save"><a><%=image_submit_tag "sign_up_btn.jpg"%> </a></div>
<div class="owners_save"><%=link_to_remote(image_tag("cancel.jpg",:style=>"margin-right:6px;"),:url=>objective_cancel_group_infos_path)%></div>