<div class="form_left">
<div class="heading"></div>
<div class="clear"><!-- --></div>
<font color="green"><%= flash[:notice]%></font>
<div class="clear"><!-- --></div>
<a href="<%=edit_user_path(:id=>@user.id)%>"> MyAccount</a>
</div>