<div class="forget_pass" >If you’ve lost your password, please enter your email address that you used
to register yourself on our website. A link to reset your password will be
sent to your email address.</div>
<div class="clear"><!-- --></div>
<!-- left sign div start here-->
<%if flash[:error]%><div class="login_error"><%= flash[:error]%></div><%end%>
<%if flash[:notice]%><div class="login_sucess"><%= flash[:notice]%></div><%end%>
<div class="login_box" >
<div class="inne_right_account">
<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
<div class="inne_label">Email address</div>
<%= text_field :user,:email ,:class=>"inner_field" %>
<div class="clear"><!-- --></div>
<div class="forgot_password"><button class="login_btn"><img src="images/reset_password.jpg" alt="reset" id="Reset My Password"/></button></div>
</div>
<div class="clear"><!-- --></div>
</div>
<% end %> 	



