<div class="outline_border clearfix" >
    <div class="UISimpleMessage_Container warning_title">
      <div style="color:#003366;">
        <h2 style="margin:15px;"><img src="/images/habon.gif" style="margin-right:5px;"/>Unauthorized user</h2>
        </div>
        <div class="UISimpleMessage_Content">
            <p style="margin-left:50px;color:#0969BB;margin-top:-10px;">You need permission to access this page</p>
        </div>
        <ul>
          <li><a onclick="history.back();" style="margin-left:50px;font-size:12px;color:#0969BB;text-decoration:underline;cursor: pointer;">Go back to the previous page</a></li>
        </ul>
      </div>
  </div>
</div>


