
<div class="signup1">Your group have been suspended
<span style="color:green; font:12px; margin-left:250px;">
</span> </div> <div class="down_arrow"><img alt="down_arrow" src="/images/down_arrow.jpg"></div>


<div class="admin_header" style="height:400px">
To activate the group,
Click on the link below  </div>
<br><br><br>
<div class="export_stat">
<a href="<%= edit_user_path(:id=>current_user.id)%>"> MY Account</a></div>