

  <%=text_area_tag "status",nil,:class=>"group_mid_white"%>
  
<a id="status_update" href="#" class="select_group" ><img src='/images/select_group.jpg'  onclick="check_value();" /></a>


<script>

</script>